{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  {% block notes_content %} {% endblock %}

  <div name="myModal" class="modal" id="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      
      <form id = "form-update-button" method='POST'>
        {% csrf_token %}
        <div class="modal-title">   
          <label for="fname">Tag:</label>
          <textarea name="tag" id="modal-tag" class="textarea-modal"></textarea> 

          <label for="fname">Título:</label>
          <textarea name="titulo" id="modal-title" class="textarea-modal"></textarea> 

          <label for="fname">Conteúdo:</label>
          <textarea name="detalhes" id="modal-content" class="textarea-modal"></textarea>  
        </div>

        <div class="update-div">
          <button id="update-button" class="update-button">Atualizar</button>
        </div>
      </form>
  </div>
</main>

{% endblock %}